<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Comments</title>
</head>
<body>
    <h1>Reddit Comments Analysis</h1>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Author</th>
            <th>Comment</th>
            <th>Cyberbullying Status</th>
            <th>Confidence</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ comment.author }}</td>
            <td>{{ comment.summary }}</td>
            <td>{{ comment.cyberbullying }}</td>
            <td>{{ comment.confidence }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
